allow init debugfs:file write;
allow init mmbn-daemon_exec:file { getattr execute open read };
allow init mmbn-daemon:process { rlimitinh siginh transition };
