allow system_app timekeep_prop:file r_file_perms;
allow system_app timekeep_prop:property_service set;
allow system_app time_data_file:dir search;
allow system_app time_data_file:file open;
allow system_app time_data_file:file write;
allow system_app time_data_file:file getattr;
allow system_app rtc_sysfs:dir search;
allow system_app rtc_sysfs:file r_file_perms;
