# Fix FMRadio recording
allow system_app media_rw_data_file:dir { add_name getattr open read remove_name search write };
allow system_app media_rw_data_file:file { create open rename write };
